/******************************/
/*  GLOBAL SETTINGS           */
/******************************/
* {
	box-sizing: border-box;
}

body {
	width: 95%;
	max-width: 1366px;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	background-color: #444140;
}



/******************************/
/*  HEADER                    */
/******************************/
header {
	display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

#title {
	text-align: center;
	width: 300px;
}

input[type="text"] {
	width: 100%;
	max-width: 300px;
	padding: 10px;
}


/******************************/
/*  MAIN                      */
/******************************/
#directory {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	margin: 10px auto;
}


/******************************/
/*  CARDS                     */
/******************************/
.card,
.modal_card {
	display: flex;
	align-items: center;
	border: solid 3px white;
	border-radius: 5px;
	padding: 15px 0;
	margin: 10px 0;
	width: 100%;
	max-width: 300px;
	background-color: #F7EBE8;
}

.card .photo {
	border-radius: 50%;
    height: auto;
    width: 80px;
    margin: 0 20px;
    border: solid 3px white;
}

.card .text {
	display: flex;
	flex-direction: column;
}

.card .name {
	font-size: 18px;
	margin: 7px 0;
}

.card .email,
.card .city {
	font-size: 10px;
	margin: 2px 0;
}

.name,
.city {
	text-transform: capitalize;
}


/******************************/
/*  MODAL                     */
/******************************/
#overlay {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(3, 10, 20, 0.5);
}

.modal_card {
	flex-direction: column;
	width: 95%;
	max-width: 400px;
}

.fa {
	z-index: 10;
	font-size: 30px;
    align-self: flex-end;
    margin-right: 5%;
}

.modal_card .photo {
	border-radius: 50%;
	border: solid 3px white;
}

.modal_card .text {
	text-align: center;
	padding: 0 5%;
}

.address {
	text-transform: capitalize;	
}


/******************************/
/*  MEDIA QUERIES             */
/******************************/
@media (min-width: 768px) {

	#title {
		text-align: initial;
	}

	#directory {
		margin-top: 2vh;
	}
}


@media (min-width: 1024px) {
	header {
		margin-top: 2vh;
		justify-content: space-between;
	}

	#title {
		width: initial;
	}

	#directory {
		margin-top: 5vh;
		justify-content: space-between;
	}
}